In [7]:
import pandas as pd

In [20]:
df['x'] = pd.DataFrame([2, 5, 3, 4])

In [9]:
y = pd.DataFrame([5, 1, 4, 2])

In [15]:
df['y'] = y

In [21]:
df.corr()

          0         y         x
0  1.000000 -0.989949  1.000000
y -0.989949  1.000000 -0.989949
x  1.000000 -0.989949  1.000000